* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #B6B6B6;
}
  
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #aaa;
  }

a:hover {
	color: red;
}

a:focus {
	color: green;
}

h1, h2, h3 h4{
	cursor: pointer;
}

.accordion {
	width: 100%;
	max-width: 550px;
	background: black;
	color: #aaa;
	margin: 10px;
	border-radius: 10px;
}

.section {
	cursor: pointer;
  	display: block;
  	padding: 15px 15px 15px 45px;
  	font-size: 18px;
  	border-bottom : 1px solid #ccc;
  	position: relative;
  	transition: all 0.4s ease-out;
}

.split {
	display: flex;
	justify-content: space-between;
}

.split:hover {
    color: #fff;
}

.split:focus {
    color: red;
}

.section li {
	border-bottom: 1px solid #B6B6B6;
}
.subSection {
	padding: 15px 15px 15px 45px;
}

.subSection li {
    border-bottom: 1px solid #B6B6B6;
}
	  
.resourceLink {
	padding: 15px 15px 15px 45px;
}

.hidden {
	display: none;
}

.icon {	
	font-weight: 900;
	font-size: 1.5rem;
	text-align: right
}

.rotate-down{
	transform: rotate(90deg)
}